page-company-demo 
{
    ion-img{
        //     height: 50vh;
        //     width: auto;
        //     margin: auto;
        //     display: block;
        //   //display: inline;
        //     background: transparent !important;
        //   // position: relative;
        //  //  align-items: center;
         
        width: 420px; 
        padding-top: 72px;
        //padding-bottom: 28px;
        align-items:center;
        position: relative; 
        height: 200px; 
         background: transparent !important;
        
        
        //  position: absolute;
        //     top: 0px;
        //     left: 0px;
        
        }
         .lab2{
           padding-bottom: 2px;
            color :white;
            text-align: center;
         }
         .cmpninput{
            //  font-family: "Roboto Light";
            .text-input::-webkit-input-placeholder {
                text-align: center;
              }
              
            //   .text-input:-moz-placeholder {
            //     text-align: center;
            //   }
              
            //   .text-input::-moz-placeholder {
            //     text-align: center;
            //   }
              
            //   .text-input:-ms-input-placeholder {
            //     text-align: center;
            //   }
        
              font-family: "Roboto Light";
            font-style: normal;
            border-top-width: initial;
            border-right-width: initial;
            border-left-width: initial;
            border-top-color: initial;
            border-right-color: initial;
            border-left-color: initial;
            color: white;
            display: block;
            text-align: center;
            align-content: center;
            width: 100%;
            font-size: 1.5vw;
            border-style: none none solid;
            border-image: initial;
            padding: 0.5vw 0vw;
            margin: 1vw 0vw;
            border-bottom: 0.1vw solid rgb(117, 117, 117);
            background: none;
              
         }
         
         .errormessage {
            font-size: 2vw;
            color: red;
            position: absolute;
            top: 0vw;
            left: 0vw;
            width: 100%;
            text-align: center;
        }
        

}
